.tarjeta-contenedor {
  width: 100%;
  max-width: 420px;
  background-color: white;
  padding: 24px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 18px 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tarjeta-info {
  border: 2px solid #4b3fd1;
  background-color: #f1f0ff;
  border-radius: 16px;
  padding: 24px;
}

.tarjeta-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #4b3fd1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

.tarjeta-nombre {
  font-size: 22px;
  font-weight: bold;
  margin-top: 16px;
}

.tarjeta-lenguaje-text {
  margin-top: 12px;
  color: #4b3fd1;
  font-size: 18px;
}

.tarjeta-lenguaje {
  font-weight: bold;
}

.tarjeta-divisor {
  margin: 16px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.tarjeta-rol {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #b8b4ff;
  border-radius: 8px;
  color: #4b3fd1;
  background-color: white;
}

.tarjeta-boton-limpiar {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
  color: #939393;
  cursor: pointer;
}